@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5" asp-controller="Auth" asp-action="Login" method="post">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <h2 class="text-center text-dark mt-5">Login to your account<br><br></h2>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="Email" class="label-control"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="Password" class="label-control"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-text text-left mb-5 text-dark"><a href="/Auth/ForgotPassword" class="signUp-text"> Forgot passord?</a></div>
                    <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login </button></div>
                    <div class="form-text text-center mb-5 text-dark">
                        Don't have an account? <a href="/Auth/Register" class="signUp-text"> Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

